<div class="content">
	<div class="container-fluid">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<label for="name" class="cols-sm-2 control-label">User Type</label>
				<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<select class="selectpicker form-control" ng-model="newUser.type">
							  <option value="Teacher">Teacher</option>
							  <option value="Student">Student</option>
							</select>
						</div>
					</div>
				<hr />
			</div>
		</div>
		<div class="panel-heading">
			<form class="form-horizontal" method="post" action="#">
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">{{newUser.type}}'s First Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" ng-model="newUser.firstname" placeholder="Enter your Name" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">{{newUser.type}}'s Last Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" ng-model="newUser.lastname" placeholder="Enter your Name" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="username" ng-model="newUser.username" placeholder="Enter your Username" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Address</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="username" ng-model="newUser.username" placeholder="Enter your Username" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">{{newUser.type}}'s Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="email" ng-model="newUser.useremail" placeholder="Enter your Email" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="password" ng-model="newUser.password" placeholder="Enter your Password" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="confirm" ng-model="newUser.confirm" placeholder="Confirm your Password" />
						</div>
					</div>
				</div>
				<div class="form-group ">
					<button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="adduser()">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>
