<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header">
						<h4 class="title">List of all users</h4>
						<p class="category">Here is a subtitle for this table</p>
					</div>
					<div class="content table-responsive table-full-width">
						<table class="table table-hover table-striped">
							<thead>
								<th>ID</th>
								<th>Name</th>
								<th>Role</th>
								<th>Address</th>
								<th>Action</th>
							</thead>
							<tbody>
								<tr ng-repeat="user in users">
									<td>{{user._id}}</td>
									<td>{{user.username}}</td>
									<td>{{user.type}}</td>
									<td>{{user.address}}</td>
									<td><button class="btn btn-warning" ng-click="editUser(user)">Edit</button> <button class="btn btn-danger" ng-click="removeUser(user)">Remove</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>