<div class="text-center loginbg" style="padding:50px 0">
	<div class="logo">Login</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Email</label>
						<input type="text" class="form-control" name="Email" placeholder="Email" ng-model="admin.email">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" name="password" placeholder="password" ng-model="admin.password">
					</div>
				</div>
				<button ng-click="login()" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>forgot your password? <a href="#">click here</a></p>
				<!-- <p>new user? <a href="#">create new account</a></p> -->
			</div>

			<div style="text-align: center; margin-top: 66px;"><img src="../images/icon.png" width="148" height="150"></div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>