<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h4 class="title">List of all Students</h4>
							<p class="category">Students</p>
						</div>
						<div class="content table-responsive table-full-width">
							<table class="table table-hover table-striped">
								<thead>
									<th>ID</th>
									<th>Name</th>
									<th>Address</th>
									<th>Rating</th>
								</thead>
								<tbody>
									<tr ng-repeat="student in students" ng-click="studentDetail(student)">
										<td>{{student._id}}</td>
										<td>{{student.username}}</td>
										<td>{{student.address}}</td>
										<td>{{student.rating}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>