<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="header">
						<h4 class="title">{{selectedStudent.firstname}} Profile</h4>
					</div>
					<div class="content">
						<form>
							<div class="row">
								<div class="col-md-5">
									<div class="form-group">
										<label>Id (disabled)</label>
										<input type="text" class="form-control" disabled placeholder="Id" ng-model="selectedStudent._id" >
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Username</label>
										<input type="text" class="form-control" placeholder="Username" ng-model="selectedStudent.username" ng-disabled="test">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label>
										<input type="email" class="form-control" placeholder="Email" ng-model="selectedStudent.email" ng-disabled="test">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>First Name</label>
										<input type="text" class="form-control" placeholder="Company" ng-model="selectedStudent.firstname" ng-disabled="test">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Last Name</label>
										<input type="text" class="form-control" placeholder="Last Name" ng-model="selectedStudent.lastname" ng-disabled="test">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Address</label>
										<input type="text" class="form-control" placeholder="Home Address" ng-model="selectedStudent.address" ng-disabled="test">
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>About Me</label>
										<textarea rows="5" class="form-control" placeholder="Here can be your description" ng-model="selectedStudent.aboutMe" ng-disabled="test"></textarea>
									</div>
								</div>
							</div> -->
							<div class="row">
								<table class="table table-hover table-striped">
									<thead>
										<th>Rating</th>
										<th>Teacher</th>
									</thead>
									<tbody>
										<tr ng-repeat="info in selectedStudentDeatil.rating[0].rate">
											<td>{{info.rate}}</td>
											<td>{{info.Teacher}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>										
							<button ng-click="updateStudent()" class="btn btn-info btn-fill pull-right" ng-if="!test">Update Profile</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-user">
					<div class="image">
					</div>
					<div class="content">
						<div class="author">
							<a href="#">
								<img class="avatar border-gray" ng-src="{{selectedStudent.image}}" fallback-src="http://google.com/favicon.ico" />
								<h4 class="title">{{selectedStudent.firstname}} {{selectedStudent.lastname}}<br />
							 <small>{{selectedStudent.username}}</small>
						  </h4>
							</a>
						</div>
					</div>
					<hr>
					<div class="text-center">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>