<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="header">
						<h4 class="title">{{selectedTeacher.firstname}} Profile</h4>
					</div>
					<div class="content">
						<form>
							<div class="row">
								<div class="col-md-5">
									<div class="form-group">
										<label>Id (disabled)</label>
										<input type="text" class="form-control" disabled placeholder="Id" ng-model="selectedTeacher._id">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Username</label>
										<input type="text" class="form-control" placeholder="Username" ng-model="selectedTeacher.username" ng-disabled="test">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label>
										<input type="email" class="form-control" placeholder="Email" ng-model="selectedTeacher.email" ng-disabled="test">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>First Name</label>
										<input type="text" class="form-control" placeholder="Company" ng-model="selectedTeacher.firstname" ng-disabled="test">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Last Name</label>
										<input type="text" class="form-control" placeholder="Last Name" ng-model="selectedTeacher.lastname" ng-disabled="test">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Address</label>
										<input type="text" class="form-control" placeholder="Home Address" ng-model="selectedTeacher.address" ng-disabled="test">
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>About Me</label>
										<textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike" ng-disabled="test"></textarea>
									</div>
								</div>
							</div> -->
							<div class="row">
								<table class="table table-hover table-striped">
									<thead>
										<th>Subject</th>
										<th>Rating</th>
										<th>Student</th>
									</thead>
									<tbody>
										<tr ng-repeat="info in selectedTeacherDeatil.rating">
											<td>{{info.subject}}</td>
											<td>
												<table class="table table-hover table-striped">
													<tr ng-repeat="subinfo in info.rate">
														<td>{{subinfo.rate}}</td>
													</tr>
												</table>
											</td>
											<td>
												<table class="table table-hover table-striped">
													<tr ng-repeat="subinfo in info.rate">
														<td>{{subinfo.student}}</td>
													</tr>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</div>										
							<button ng-click="updateTeacher()" class="btn btn-info btn-fill pull-right" ng-if="!test">Update Profile</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-user">
					<div class="image">
					</div>
					<div class="content">
						<div class="author">
							<a href="#">
								<img class="avatar border-gray" ng-src="{{selectedTeacher.image}}" fallback-src="http://google.com/favicon.ico" />
								<h4 class="title">{{selectedTeacher.firstname}} {{selectedTeacher.lastname}}<br />
							 <small>{{selectedTeacher.username}}</small>
						  </h4>
							</a>
						</div>
						<!-- <p class="description text-center"> "Lamborghini Mercy
							<br> Your chick she so thirsty
							<br> I'm in that two seat Lambo"
						</p> -->
					</div>
					<hr>
					<div class="text-center">
						<!-- <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button> -->
						<!-- <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button> -->
						<!-- <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>