
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header">
						<h4 class="title">List of all Teachers</h4>
						<p class="category">Teachers</p>
					</div>
					<div class="content table-responsive table-full-width">
						<table class="table table-hover table-striped">
							<thead>
								<th>ID</th>
								<th>Name</th>
								<th>Address</th>
								<th>Rating</th>
							</thead>
							<tbody>
								<tr ng-repeat="teacher in teachers" ng-click="teacherDetail(teacher)">
									<td>{{teacher._id}}</td>
									<td>{{teacher.username}}</td>
									<td>{{teacher.address}}</td>
									<td>{{teacher.rating}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	