<div class="wrapper">
	<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
		<div class="sidebar-wrapper">
			<div class="logo">
				<a>
				Menu
			</a>
			</div>
			<ul class="nav">
				<li class="active">
					<a ui-sref="dashboard">
						<i class="pe-7s-graph"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<!-- <li>
					<a href="user.html">
						<i class="pe-7s-user"></i>
						<p>Admin's Profile</p>
					</a>
				</li> -->
				<li>
					<a ui-sref="teacherlist">
						<i class="pe-7s-note2"></i>
						<p>Teachers List</p>
					</a>
				</li>
				<li>
					<a ui-sref="studentlist">
						<i class="pe-7s-news-paper"></i>
						<p>Students List</p>
					</a>
				</li>
				<!-- <li>
					<a href="icons.html">
						<i class="pe-7s-science"></i>
						<p>Icons</p>
					</a>
				</li> -->
				<li>
					<a ui-sref="maps">
						<i class="pe-7s-map-marker"></i>
						<p>Maps</p>
					</a>
				</li>
				<!-- <li>
					<a href="notifications.html">
						<i class="pe-7s-bell"></i>
						<p>Notifications</p>
					</a>
				</li>
				<li class="active-pro">
					<a href="upgrade.html">
						<i class="pe-7s-rocket"></i>
						<p>Upgrade to PRO</p>
					</a>
				</li> -->
			</ul>
		</div>
	</div>
	<div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
					 	<li>
							<a ui-sref="addUser">
						   Add User
							</a>
						</li>
						<!--<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Dropdown
								<b class="caret"></b>
						  </a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li> -->
						<li>
							<a ui-sref="login">
							Log out
						</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div ui-view></div>
		<!-- <footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<ul>
						<li>
							<a href="#">
							Home
						</a>
						</li>
						<li>
							<a href="#">
							Company
						</a>
						</li>
						<li>
							<a href="#">
							Portfolio
						</a>
						</li>
						<li>
							<a href="#">
						   Blog
						</a>
						</li>
					</ul>
				</nav>
				<p class="copyright pull-right">
					&copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
				</p>
			</div>
		</footer> -->
	</div>
</div>
